
<h1 class="page-heading">Projects</h1>
<%= link_to 'Add Tool', new_tool_path, class: 'btn btn-primary btn-lg' %>

<div class="row">
    <% @tools.each do |tool| %>
      <div class="col-xs-4" style="height: 350px; overflow: hidden;">
        <h2><%= link_to tool.name, tool %></h2>
        <p class="lead"><%= tool.description[0..300] + '...' %></p>
        <div id="sk_ac">
            <div><%= link_to 'Edit', edit_tool_path(tool) %></div>
            <div><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      </div><div class="clearfix visible-sm"></div>
    <% end %>
</div>
