<h1><%= @tool.name %></h1>

<!--<div class="proj_area">
  <strong>Owner:</strong><br/>
  <%#= @project.owner %>
</div>-->

<div class="detail_description">
  <%= @tool.description %>
</div>

<% unless @tool.projects.empty? %>
    <h2>Related Projects</h2>
    <div class ="related_projects">
      <% @tool.projects.each do |project| %>
          <div>
            <label class="name"><%= link_to project.name, project_path(project) %></label>
            <div class="desc"><%=project.description[0..200] + "..." %></div>
          </div>
      <% end %>
    </div>
<% end %>

<span class="b_span">
	<%= link_to 'Edit Tool', edit_tool_path(@tool) %>
</span>
