<p id="notice"><%= notice %></p>

<h1><%= @tool_type.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @tool_type.description %>
</p>

<%= link_to 'Edit', edit_tool_type_path(@tool_type) %> |
<%= link_to 'Back', tool_types_path %>

<% unless @tool_type.tools.empty? %>
    <h2><%= @tool_type.name.pluralize @tool_type.tools.count%></h2>
    <% @tool_type.tools.each do |project| %>
        <h3><%= link_to project.name, project_path(project) %></h3>
        <p><%=project.description[0..200] + "..." %></p>
    <% end %>
<% end %>