<%= stylesheet_link_tag 'tools' %>

<h1><%= @tool_type.name.pluralize %></h1>

<div class="detail_description">
  <%= @tool_type.description %>
</div>

<div class="btn btn-default">
  <%= link_to 'Edit Tool Type', edit_project_type_path(@tool_type) %>
</div>

<% unless @tool_type.tools.empty? %>
    <h2><%= @tool_type.name.pluralize @tool_type.tools.count %> Tools</h2>
    <%= render 'shared/tools_list', :tools => @tools %>
<% end %>