<div class="container">
  <div class="row vertical-center-row">
    <div class="col-lg-12">
      <div class="row ">
        <div class="col-xs-4 col-xs-offset-4">

          <h1>Edit <%= resource_name.to_s.humanize %></h1>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "well" }) do |f| %>

            <%= render partial: "form", locals: { f: f } %>

            <div class="field">
              <%= f.label :current_password %> <i>(To confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>

            <div><%= f.submit "Update", class:"btn btn-primary btn-lg" %></div>
          <% end %>

          <h3>Cancel my account</h3>

          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>