<%= button_to 'Search for "test"', search_path(search_params: 'test'), remote: true %>

<h1>Search Results for "<%=@search_term %>"</h1>

<% unless @search_results.blank? %>
    <% @search_results.each do |result_type, result_group| %>
        <div class="result_type">
          <div class="panel panel-primary">
            <h2 class="panel-heading"><%= result_type.underscore.humanize.split.map(&:capitalize).join(' ') %>s</h2>
            <div class="panel-body">
              <% result_group.each do |p_result, p_name| %>
                  <div class="result">
                      <h3><%= link_to p_name.name, p_result.searchable_type.downcase + 's/' + p_result.searchable_id.to_s %></h3>
                      <p><%=p_result.content[0..200] + '...' %></p>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

