<% @project_types.each do |project_type| %>
    <div>
        <div class="name"><%= link_to project_type.name, project_type %></div>
        <div class="desc"><%= project_type.description[0..300] + "..." %></div>
        <div id="sk_ac">
            <div><%= link_to 'Edit', edit_project_type_path(project_type) %></div>
            <div><%= link_to 'Destroy', project_type, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
    </div>
<% end %>

<span class="b_span">
	<%= link_to 'add another project type', new_project_type_path %>
</span>
