<h1><%= @project_type.name.pluralize %></h1>

<div class="detail_description">
  <%= @project_type.description %>
</div>

<div class="btn btn-default">
	<%= link_to 'Edit Project Type', edit_project_type_path(@project_type) %>
</div>

<% unless @project_type.projects.empty? %>
    <h2><%= @project_type.name.pluralize @project_type.projects.count %> Projects</h2>
    <%= render 'shared/project_list', :projects => @projects %>
<% end %>