<h1>tools</h1>

	<ul>
	    <% @skills.each do |skill| %>
			<li>
		        <div class="s_n"><%= skill.name %></div>
		        <div class="s_d"><%= skill.description %></div>
				<div id="sk_ac">
			        <div><%= link_to 'Show', skill %></div>
			        <div><%= link_to 'Edit', edit_skill_path(skill) %></div>
			        <div><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></div>
			    </div>
	      	</li>
	    <% end %>
 	</ul>

<span class="b_span">
	<%= link_to 'add another tool', new_skill_path %>
</span>