<div class="projects_tools">
  <div class="field">
    <%= label :name, :name %><br>
    <%= text_field :name, :class => "form-control" %>
  </div>
  <div class="field">

    <%= label :tool_type_id, :tool_type %><br>
    <%= select_tag "tool type", options_from_collection_for_select(ToolType.all, "id", "name") %>

  </div>
  <div class="field">
    <%= label :description, :description%><br>
    <%= text_area :description, :class => "form-control", :rows => "10" %>
  </div>
<%= link_to_function 'remove', 'remove_projects_tool(this)' %>
</div>