<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="project_details">
	  <div class="field">
	    <%= f.label :project_name %><br>
	    <%= f.text_field :name %>
	  </div>
      <div>
        <%= f.label :project_type_id %><br>
        <%= f.collection_select :project_type_id, ProjectType.all, :id, :name, prompt: true %>
      </div>
	  <div class="field">
	    <%#= f.label :owner %><br>
	    <%#= f.text_field :owner %>
	  </div>
	  <div class="field">
	    <%= f.label :project_description %><br>
	    <%= f.text_area :description %>
	  </div>
  </div>
  
  <div id="project_tools">
    Tools:
    <%#= f.fields_for :projects_tools do |builder| %>
		<div id="tools_list"><%= render 'shared/tools_list' %></div>
		<div id="new_tool"><%#= render partial: "shared/tools_adder", :f => builder %></div>
    <%# end %>

  </div>
  	
  <div class="b_span">
    <%= f.submit %>
  </div>
<% end %>
