<% @projects.each do |project| %>
    <h2><%= link_to project.name, project %></h2>
    <p class="lead"><%= project.description[0..300] + '...' %></p>
    <div id="sk_ac">
        <div><%= link_to 'Edit', edit_project_path(project) %></div>
        <div><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
<% end %>

<span class="b_span">
	<%= link_to 'add another project', new_project_path %>
</span>