
<h1 class="page-heading">Projects</h1>
<%= link_to 'Add Project', new_project_path, class: 'btn btn-primary btn-lg' %>

<div class="row">
  <% @projects.each do |project| %>
      <div class="col-xs-4 card">
        <h2><%= link_to project.name, project %></h2>
        <p class="lead"><%= project.description[0..300] + '...' %></p>
        <div id="sk_ac">
            <div><%= link_to 'Edit', edit_project_path(project) %></div>
            <div><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      </div>
      <div class="clearfix visible-xs-block"></div>
  <% end %>
</div>

