<%= stylesheet_link_tag params[:controller] %>


<h1 class="page-heading">Projects</h1>
<%= link_to 'Add Project', new_project_path, class: 'btn btn-primary btn-lg' %>

<% (0..@projects.length/3).each do |row_count| %>
<div class="row">
  <% col_count = 0 %>
  <% while col_count < 3 %>
    <% project = @projects.all[(row_count * 3) + col_count] %>
    <% if project.present? %>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <h2><%= link_to project.name, project %></h2>
          <p><%= project.description[0..100] + '...' %></p>
          <% project.tools[0..8].each do |tool| %>
            <button class="btn btn-info"><%= tool.name %></button>
          <% end %>
        </div>
      </div>
    <% else %>
          <h1>:-(</h1>
      <% break %>
    <% end %>
    <% col_count += 1 %>
  <% end %>
</div>
<% end %>

