

	    <% @projects.each do |project| %>
			<div class="result">
		        <div class="name"><%= link_to project.name, project %></div>
		        <div class="desc"><%= project.description[0..300] + "..." %></div>
				<div id="sk_ac">
			        <div><%= link_to 'Edit', edit_project_path(project) %></div>
			        <div><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
			    </div>
	      	</div>
	    <% end %>

<span class="b_span">
	<%= link_to 'add another project', new_project_path %>
</span>