<%= stylesheet_link_tag 'show_project' %>
<%= stylesheet_link_tag 'tools' %>


<div class="col-xs-10 page-heading-inline">
  <h1><%= @project.name %>
    <span class="badge">
      <%= link_to @project.project_type.name, project_type_path(@project.project_type) %>
    </span>
  </h1>

<% if @project.external %>

	<h4>Project Owner: <u><%= link_to @project.owner, "https://github.com/#{@project.owner}", :target => "_blank" %></u></h4>
    <h4><%= link_to "view on GitHub", "https://github.com/#{@project.owner}/#{@project.name}", :target => "_blank" %></h4>
<% else %>
  <h4>Project Participants: <%= @project.users.map { |user| user.username }.join ', ' %></h4>
<% end %>
</div>

<div class="col-xs-2"><%= link_to 'Edit Project', edit_project_path(@project), role: "button", class: "btn btn-primary edit", style:"float:right" %></div>

<div class="col-xs-12 detail_description well">
  <%= raw(markdown @project.description) %>
</div>

<% unless @project.projects_tools.empty? %>
  <div class="col-xs-12">
  <h2 class="page-header">Tools</h2>
  <%= render 'shared/tools_list' %>
  </div>
<% end %>