<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<!--<div class="proj_area">
  <strong>Owner:</strong><br/>
  <%#= @project.owner %>
</div>-->

<div class="proj_description">
  <%= @project.description %>
</div>

<h2>Tools used to build this <%= @project.project_type.name %></h2>
<div class="proj_area tools">
  <strong>tools used on this project:</strong><br/>
  	<% unless @tool_list.empty? %>
	  <% @tool_list.each do |tool| %>
	  	<ul>
	  		<li><%= link_to tool, tool_detail_path(tool) %></li>
	  	</ul>
	  <% end %>
	<% end %>
</div>
