<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<!--<div class="proj_area">
  <strong>Owner:</strong><br/>
  <%#= @project.owner %>
</div>-->

<div class="proj_description">
  <%= @project.description %>
</div>

<h2>Tools used to build this <%= @project.project_type.name %></h2>
<div class="proj_area tools">
  	<% unless @tool_list.empty? %>
      <ul class="project_tools">
          <% @tool_list.each do |tool| %>
            <li class="project_tool"><%= link_to tool, tool_detail_path(tool) %></li>
          <% end %>
      </ul>
	<% end %>
</div>
