<!DOCTYPE html>
<html>
<head>
  <title>X</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body id="body_container" class="clearfix">
	
	<div id="nav">
		<%= render 'layouts/nav' %>
	</div>
		
	<div id="page_content">
		<%= yield %>
	</div>
	
	<% if Rails.env.development?%>
		<div id="rd">
			<%= render 'layouts/reveal' %>
		</div>
	<% end %>

	</body>
</html>
